<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="header">
		<div class="nav">
			<div class="nav-itm"><a href="">Projects</a></div>
			<div class="nav-itm"><a href="">Tasks</a></div>
			<div class="nav-itm"><a href="">Registration</a></div>
		</div>
		<div class="form">
			
		</div>
	</div>
	<div class="main">
		<h2>Add rol</h2>
		<div class="left">
			<form action="">
				<ul>
					<li>
						<p>Name</p>
						<p>
							<input type="text" name="name">
						</p>
					</li>
					<li>
						<p>Descrition</p>
						<p>
							<textarea cols="30" rows="5" name="description">Descrition</textarea>
						</p>
					</li>
					<li>
						<p>
							<input type="checkbox" name="item" id="">item
							<input type="checkbox" name="item" id="">item
							<input type="checkbox" name="item" id="">item
							<input type="checkbox" name="item" id="">item
						</p>
					</li>
					<li>
						<p>
							<button type="submit">Add</button>
						</p>
					</li>
				</ul>
			</form>
		</div>

	</div>
	<div class="footer"></div>
</body>
</html>